* {
    border-radius: 1px;
    font-size: 15px;
}
fieldset {

    /* Set the Fieldset to fit the longest line */
    width: fit-content;

    /* Make the fieldset boundaries faint */
    border: 1.5px solid rgba(10, 10, 10, 0.357);

     /* to smoothen the corners of the form  */
     border-radius: 5px;

}
input {
    /* Separates the name and the inputbox */
    margin:0.44rem;
}
